
<%= form_with model: @blog_post do |form| %>
  <% if form.object.errors.any? %>
    <div>
    <% form.object.errors.full_messages.each do |message| %>
       <div> <%= message %></div>
    <% end %>
    </div>
  <% end %>

  <div class="my-8 grid grid-columns-1">
   <%= form.label :title , class: "text-[18px] font-bold my-1" %>
   <%= form.text_field :title %>
  </div>
  <div class="my-8 grid grid-columns-1">
    <%= form.label :cover_image , class: "text-[18px] font-bold my-1"  %>
    <% if blog_post.cover_image.present? %>
      <div id="<%= dom_id(blog_post, :cover_image) %>">
       <%= image_tag @blog_post.cover_image, class: "w-1/3" if @blog_post.cover_image.present? %>
       <%= link_to "Remove cover image", blog_post_cover_image_path(blog_post), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
      </div>
     <% end %>
    <%= form.file_field :cover_image %>
  </div>
  <div class="my-8">
   <%= form.label :content, class: "text-[18px] font-bold my-1" %>
   <%= form.rich_text_area :content %>
  </div>
  <div class="my-8 grid grid-columns-1" >
  <%= form.label :published_at , class: "text-[18px] font-bold my-1" %>
  <%= form.datetime_select :published_at%>

  </div>

<div class="border-2 bg-blue-100 border-blue-600 text-blue-600 hover:bg-blue-200 hover:border-blue-900 hover:text-blue-900 px-2 py-4 w-[120px] font-bold text-[19px] rounded ">
  <%= form.button  %>
</div>
<% end %>